:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	font-synthesis: none;
	color: hsla(0, 0%, 100%, .7);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	font-weight: 500;
}

a {
	font-weight: 500;
	text-decoration: inherit;
	cursor: pointer;
	color: hsl(205, 97%, 74%);
}

button {
	cursor: pointer;
}

*:disabled {
	opacity: .5;
}

body {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

code {
	background-color: hsla(0, 0%, 100%, .1);
	padding: .5rem;
	border-radius: .5rem;
}

.v-enter-active,
.v-leave-active {
	transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}
